/webui/node_modules
/module/webroot
/module/bin
/out
/audit-output
/PatchNest_Evidence_*
*.zip
*.log
*.pyc
__pycache__/
*_log.tar.gz
*_logs.tar.gz
C*Temp*.tar.gz
.DS_Store
.audit/
webui/.gstack/
webui/screenshots/
.gstack/
.remember/
android_kernel_oneplus_sdm845-lineage-23.0-4.19.tar.gz
verify_webui.sh
webui_full.png
webui_screenshot.png
